html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: #0f4d8f;
	display:flex;
	justify-content:center;
	align-items:center;
}

@keyframes animRainbow {
	0% {
	    transform: translateY(0%);
	}
	50% {
	    transform: translateY(-8%);
	}
	100% {
	    transform: translateY(0%);
	}
}

.lula-nyan .rainbow {
	position: absolute;
	height: 180px;
	width: 50%;
	left: 0;
	top: calc(50% - 109px);
	font-size: 0;
}
.lula-nyan .rainbow .part-even, .lula-nyan .rainbow .part-odd {
	display: inline-block;
	height: 100%;
    animation-name: animRainbow;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
}
.lula-nyan .rainbow .part-even {
	background: linear-gradient( 0deg, yellow 50%, green 50%);
	width: 10%;
    animation-direction: reverse;
}
.lula-nyan .rainbow .part-odd {
	background: linear-gradient( 0deg, yellow 50%, green 50%);
    transform: translateY(-8%);
	width: 10%;
}
.lula-nyan img {
	position: relative;
	z-index: 9;
}

.octo-arm, .octo-body {
	fill: #0f4d8f;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
.github-holder {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}
.github-holder p {
	color: white;
	font-family: Arial;
	display: inline-block;
	margin-right: 10px;
    position: relative;
    top: -5px;
}
.github-holder p a {
	color: white;
	text-decoration: none;
	color: #84b6eb;
}
@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
   transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}